:root {
    --background-color: 255,255,255;
    --accent-color: 0,0,0;
    --blur-filter: blur(20px) brightness(80%);
    --box-shadows: 0px 5px 5px rgba(0,0,0,0.2);
    --text-shadows: 0px 2px 5px rgba(0,0,0,0.5);
    overflow: hidden;
}

body {
    display:grid;
    background-color: rgba(var(--background-color));
    place-items: center;
    width: 100vw;
    margin: 0;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 200ms, opacity 500ms ease-out, transform 500ms ease-in-out;
    transform: translateX(100vw);
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in, transform 500ms ease-in-out;
}

.popped-out {
    visibility: hidden;
    opacity: 0;
    transform: translateY(5vh);
}

.popped-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms 150ms ease, transform 300ms ease;
    transform: translateY(0vh);
}

.text, a:visited, a:hover, a:active {
    color: rgba(var(--accent-color));
    text-shadow: var(--text-shadows);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.greetings {
    margin-top: 30vh;
    margin-bottom: 5vh;
    transition: all 500ms ease-in-out;
}

#greeting {
    color: rgba(var(--accent-color));
    text-align: center;
    font-size: 3rem;
    margin: 15px;
}

.search {
    display: flex;
    background-color: rgba(var(--accent-color), 0.2);
    width: fit-content;
    min-width: 300px;
    height: 50px;
    align-items: center;
    border-radius: 0.75rem;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin: 15px;
    margin-right: 5px !important;
}

#search-input {
    background: none;
    color: rgba(var(--accent-color));
    text-shadow: var(--text-shadows);
    height: 100;
    width: 35vw;
    min-width: 300px;
    border: none;
    font-size: 16px;
    margin-right: 15px;
}

#search-input::-webkit-input-placeholder {
    color:rgba(var(--accent-color), 0.5)
}

#search-input:focus {
    outline: none;
}

.settings {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    flex-direction: column;
    align-items: flex-end;
}

#settings-button {
    height: 24px;
    width: 24px;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.icons {
    stroke: rgba(var(--accent-color));
}

#settings-menu {
    height: fit-content;
    max-height: 90vh;
    margin-top: 10px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 0.75rem;
    background-color: rgba(var(--accent-color), 0.2);
}

.settings-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    height: 30px;
}

.settings-item-text {
    margin-right: 10px;
    width: 100%;
}

.dropdowns {
    background-color: rgba(var(--accent-color), 0.2);
    outline: none;
    border: none;
    color: rgba(var(--accent-color));
    padding: 5px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.color-input {
    border: none !important;
    padding: 0px;
    width: 40px;
    cursor: pointer;
}

.color-input::-webkit-color-swatch-wrapper, .color-input::-webkit-color-swatch {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.settings-text-input {
    background-color: rgba(var(--accent-color), 0.2);
    border: none;
    border-radius: 0.5rem;
    height: 26px;
    color:rgba(var(--accent-color));
    text-indent: 7px;
}

.settings-text-input:focus {
    outline: none;
}

.button {
    background-color: rgba(var(--accent-color), 0.2);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.button:active, .button:hover {
    background-color: rgba(var(--accent-color), 0.3);
}

.settings-button {
    height: 26px;
    width: 100%;
    color: rgba(var(--accent-color));
    text-align: center;
}

#set-to-default:hover {
    background-color: rgba(255,0,0,0.2);
    color: rgb(255,0,0)
}

#background-image-file, #background-image-file::-webkit-file-upload-button, #background-image-file::file-selector-button {
    color: rgba(var(--accent-color));
    background-color: rgba(var(--accent-color), 0.2);
    border-radius: 0.5rem;
    text-shadow: var(--text-shadows);
    border-style: none;
    height: 26px;
    max-width: 150px;
    text-overflow: hidden;
}

input[type=checkbox] {
    visibility: hidden;
}

#special-effects-checkbox {
    width: 52px;
    height: 26px;
    background: rgba(var(--accent-color), 0.2);
    position: relative;
    border-radius: 0.75rem;
}

#special-effects-checkbox label {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 2rem;
    transition: all 200ms ease-out;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 4px;
    background: rgba(var(--accent-color));
}

#special-effects-checkbox input[type=checkbox]:checked + label {
    left: 21px;
}

.credits {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: block;
}

.credit-text {
    opacity: 50%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#background-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: -1;
    object-fit: cover;
    border: none !important;
    outline: none !important;
}

.special-effects {
    backdrop-filter: var(--blur-filter);
    box-shadow: var(--box-shadows);
}