#settings-container {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#settings-menu {
  display: flex;
  flex-direction: column;

  max-height: 30rem;
  max-width: 50rem;
  padding: 1rem;
  margin-top: 1rem;

  border-radius: 1rem;
  background-color: rgb(var(--accent-color), 0.2);
}

#settings-title {
  margin: 0 0 1.2rem 0;
}

.settings-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 2rem;
  margin: 0 0 0.5rem 0;
}

.settings-items-text {
  margin: 0 1rem 2px 0;
}

.settings-input-text-option {
  background-color: rgba(var(--accent-color), 0.2);

  border: none;
  border-radius: 0.5rem;

  padding: 6px;
  margin: 0;
  width: 7rem;

  cursor: pointer;
}

.settings-input-text-option:focus, .settings-input-text-option:hover {
  outline: none;
  background-color: rgba(var(--accent-color), 0.3);
  transform: scale(1.1);
}

.settings-items-color-option {
  outline: none;
  border: none;

  background: none;

  padding: 0;
  height: 1.5rem;
  width: 2rem;

  cursor: pointer;
}

.settings-items-color-option:focus, .settings-items-color-option:hover {
  transform: scale(1.2);
}

.settings-select-option {
  background-color: rgba(var(--accent-color), 0.2);

  border: none;
  border-radius: 0.5rem;
  outline: none;

  padding: 6px;
  margin: 0;
  width: 7rem;

  cursor: pointer;
}

.settings-select-option:hover {
  outline: none;
  background-color: rgba(var(--accent-color), 0.3);
  transform: scale(1.1);
}


/*! Background Image Input */
.settings-file-input {
  display: none;
}

#background-image-input-styled {
  padding: 6px;
  width: 7rem;

  border-radius: 0.5rem;

  text-align: center;
  font-size: 0.9rem;

  background-color: rgba(var(--accent-color), 0.2);
}

#background-image-input-styled:hover {
  background-color: rgba(var(--accent-color), 0.3);
  transform: scale(1.1);
}

/*! Reset to defaults */
#reset-to-defaults {
  background-color: rgba(var(--accent-color), 0.2);

  border: none;
  border-radius: 0.5rem;

  height: 1.5rem;
  width: 90%;

  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 1.5%;
}

#reset-to-defaults:hover {
  background-color: rgba(255,0,0,0.3);
  color: red;

  transform: scale(1.1);
}